torch==2.8
torchvision
packaging
sentencepiece
peft
einops
fastapi
gradio
markdown2
numpy
openai
opencv_python
Pillow
pycocotools
ray
Requests
shortuuid
tqdm
transformers==4.31.0
scipy
bitsandbytes
uvicorn
wheel
modelscope
nvitop





